@charset "UTF-8";

/* ================================================ 헤더 ================================================ */

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	color: black;
	border-collapse: collapse;
	font-family: 'Noto Sans KR', sans-serif;
}

@media ( max-width: 768px ) {
  * { color: red; }
  #header {
     width: auto;
   }
}

#header {
	width: 100%;
	height: 100px;
	background-color: #142336;
}

.header_con {
	width: 1280px;
	margin: auto;
	line-height: 100px;
}

.header_con .ul1 {
	float: left;
}

.header_con .ul1 li {
	width: 300px;
	display: inline-block; 
}

.header_con .ul1 li a {
	color: #fff;
}

.header_con .ul2 {
	text-align: center;
}

.header_con .ul2 li {
	float:left;
	width:150px;
	position:relative;
}

.header_con .ul2 li a {
	color: #fff;
}

.header_con .ul2 li ul {
	display: none;
	/* 하위 메뉴 높이 조절 */
	height: 120px;
	/* 하위 메뉴 칸 높이 조절 */
	line-height: 50px;
	border: 1px solid #ccc;
}

.header_con .ul2 li ul li {
	height: 50px;
}

.header_con .ul3 {
	float: right;
}

.header_con .ul3 li {
	width: 100px;
	display: inline-block; 
}

.header_con .ul3 li a {
	color: #fff; 
}

#header_line {
	width: 100%;
	height: 50px;
	background-color: #eee;
	margin-bottom: 50px;
}

/* ================================================ 나의 메뉴 ================================================ */
#myMenu1 {
	width: 100%;
}

.myMenu1_con {
	width: 1280px;
	margin: auto;
	text-align: center;
}

.myMenu1_head h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.myMenu1_head h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.myMenu1_head table {
	margin-top: 30px;
	width: 1280px;
	margin: auto;
	text-align: center;
	border: 1px solid #ccc;
}

.myMenu1_head table tr th {
	padding: 20px;
	border: 1px solid #ccc;
}

.myMenu1_form {
	text-align: left;
}

.myMenu1_form h3 {
	margin-top: 20px;
}

.myMenu1_form ul li{
	font-size: 16px;
	margin: 10px 0px;
}

.myMenu1_form ul li input{
	padding: 20px 20px;
	width: 700px;
}

.myMenu2_form {
	text-align: left;
}

.myMenu2_form h3 {
	margin-top: 20px;
}

.myMenu2_form ul li{
	font-size: 16px;
	margin: 10px 0px;
}

.myMenu2_form ul li input{
	padding: 20px 20px;
	width: 700px;
	margin-top: 5px;
	border: 1px solid #ccc;
}

.myMenu2_form_but {
	margin-top: 50px;
	text-align: center;
}

.myMenu2_form_but input:first-child {
	padding: 20px 60px;
	background-color: #014b99;
	color: #fff;
	margin-right: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.myMenu2_form_but input:last-child {
	padding: 20px 60px;
	background-color: #fff;
	margin-left: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.myMenu3_form {
	text-align: center;
}

.myMenu3_form1 {
	 height: 300px;
	 border: 1px solid #ccc;
	 padding: 5px;
	 overflow-y: auto;
	 text-align: left;
	 margin-top: 20px;
}

.myMenu3_form h3 {
	margin-top: 20px;
}

.myMenu3_form h4 {
	margin-top: 20px;
}

.myMenu3_but input {
	padding: 20px 60px;
	background-color: #014b99;
	color: #fff;
	margin-right: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
	margin-top: 30px;
}

.myMenu3_form_Check_Area {
	margin-top: 20px;
}

.myMenu3_form_Check_Area label {
	font-weight: bold;
}

/* ================================================ 클라이언트 로그인 ================================================ */

#loginFrom {
	width: 100%;
}

.loginForm_con {
	width: 800px;
	margin: auto;
	text-align: center;
}

.loginForm_con1 h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.loginForm_con1 h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.loginForm_con2 {
	width: 800px;
	margin: auto;
	height: 500px;
	border: 1px solid #ccc;
	background-color: #eee;
}

.loginForm_con2 h3 {
	margin-top: 60px;
	color: #222;
	width: 515px;
	margin: 60px auto 0px auto;
	text-align: left;
	font-weight: normal;
}

.loginForm_con3 p {
	text-align: left;
	margin-top: 20px;
}

.loginForm_con3 a {
	border: 1px solid #ccc;
	margin-left: 20px;
	padding: 8px 20px;
}

.login_txt1 {
	text-align: center;
	border: none;
	margin-top: 30px;
}

.login_txt1 input {
	padding: 30px 300px 30px 30px;
	background-color: transparent;
	border : 1px solid #ccc;
	background-color: #fff;
}

.login_txt2 {
	text-align: center;
	border: none;
	margin-top: 10px;
}

.login_txt2 input {
	padding: 30px 300px 30px 30px;
	background-color: transparent;
	border : 1px solid #ccc;
	background-color: #fff;
}

.login_txt3 {
	text-align: center;
	border: none;
	margin-top: 10px;
}

.login_txt3 input {
	padding: 30px 300px 30px 30px;
	background-color: transparent;
	border : 1px solid #ccc;
}

.login_txt3 label {
	margin-right: 240px;
}

.login_txt4 {
	text-align: center;
	border: none;
	margin-top: 10px;
}

.login_txt4 .login_but {
	padding: 30px 225px;
	cursor: pointer;
	text-align: center;
	background-color: #014b99;
	color: white;
	font-weight: bold;
	line-height: 1;
	font-size: 22px;
	border: 1px solid #ccc;
}

/* ================================================ 클라이언트 회원가입 ================================================ */

#signUp1 {
	width: 100%;
}

.signUp1_con {
	width: 1280px;
	margin: auto;
	text-align: center;
}

.signUp1_head h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.signUp1_head h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.signUp1_head table {
	margin-top: 30px;
	width: 1280px;
	margin: auto;
	text-align: center;
	border: 1px solid #ccc;
}

.signUp1_head table tr th {
	padding: 20px;
	border: 1px solid #ccc;
}

.signUp1_con h3, .check_area{
	text-align: left;
}

.signUp1_con h3{
	margin-top: 50px;
	margin-bottom: 10px;
}

.signUp1_con .check_area{
	margin-top: 10px;
	margin-bottom: 50px;
}

.signUp_content{
	 height: 200px;
	 border: 1px solid #ccc;
	 padding: 5px;
	 overflow-y: auto;
	 text-align: left;
}

.signUp1_tab1 {
	border: 1px solid #ccc;
}

.signUp1_tab1 tr th {
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #eee;
}

.signUp1_tab1 tr td {
	border: 1px solid #ccc;
	padding: 30px;
}

.signUp1_allCheck {
	 height: 100px;
	 border: 1px solid #ccc;
	 line-height: 100px;
	 background-color: #eee;
}

.signUp1_but {
	margin-top: 50px;
	text-align: center;
}

.signUp1_but input:first-child {
	padding: 20px 60px;
	background-color: #014b99;
	color: #fff;
	margin-right: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.signUp1_but input:last-child {
	padding: 20px 60px;
	background-color: #fff;
	margin-left: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.signUp2_smsTable {
	width: 1280px;
	height: 200px;
}

.signUp2_smsTable table {
	border: 1px solid #e0e0e0;
	border-top: 3px solid #000;
	height: 200px;
	width: 1280px;
	text-align: left;
}

.signUp2_smsTable table tr {
	border: 1px solid #e0e0e0;
}

.signUp2_smsTable table tr th {
	border: 1px solid #e0e0e0;
	background-color: #eee;
	padding: 20px;
	text-align: center;
}

.signUp2_smsTable table tr td input {
	padding: 30px 50px;
	margin-left: 10px;
}


#completeSendSMSBut, #sendSMSBut {
	padding: 30px;
	background-color: #014b99;
	border: 1px solid #014b99;
	cursor: pointer;
	color: #fff;
}

.signUp3_form {
	text-align: left;
}

.signUp3_form ul{
	
}

.signUp3_form ul li{
	font-size: 16px;
	margin: 10px 0px;
}

.signUp3_form ul li input{
	padding: 20px 20px;
	width: 700px;
}
#LOGIN_ID_CHECK {
	width: 150px;
	margin-left: 10px;
	background-color: #014b99;
	border: 1px solid #014b99;
	color: #fff;
	font-weight: bold;
	transition: all 0.1s ease;
}

#LOGIN_ID_CHECK:hover {
	cursor: pointer;
	filter: brightness(80%);
}

#SEX_CHECK_AREA input,label {
	width: 30px;
	font-size: 16px;
}

.signUp3_but {
	margin-top: 50px;
	text-align: center;
}

.signUp3_but input:first-child {
	padding: 20px 60px;
	background-color: #014b99;
	color: #fff;
	margin-right: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

.signUp3_but input:last-child {
	padding: 20px 60px;
	background-color: #fff;
	margin-left: 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 22px;
}

#SEARCH_ADDRESS {
	width: 150px;
	margin-left: 10px;
	background-color: #014b99;
	border: 1px solid #014b99;
	color: #fff;
	font-weight: bold;
	transition: all 0.1s ease;
}

#SEARCH_ADDRESS:hover {
	cursor: pointer;
	filter: brightness(80%);
}

/* ================================================ 메인 배너 ================================================ */
#mainPage {
	width: 100%;
}

.mainPage_con {
	width: 1280px;
	margin: auto;
}

.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}
.slide6 {background: #757575;}

.mainPage_banner {
	width: 1280px;
	height: 500px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.mainPage_banners {
	width: 8960px; /* 전체 슬라이드 너비 (266px * 7) */
	position: absolute;
	transition: left 0.5s ease-in-out;
}

.mainPage_banners li {
	float: left;
	width: 1280px;
	height: 500px;
}

.mainPage_banners img {
	width: 100%;
	height: 100%;
}

#slider-nav {
	text-align: center;
}

.slider-nav-dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 0px;
	cursor: pointer;
}

.slider-nav-dot.active {
	background: white;
}

#slider-nav {
	position:absolute;
	height:2em;
	bottom:0em;
	width:100%;
	cursor:default;
}

#slider-nav-prv {
	height:1.5em;
	line-height:1.5em;
	width:1.5em;
	text-align:center;
	position:absolute;
	left:0.5em;
	background:white;
}

#slider-nav-nxt {
	height:1.5em;
	line-height:1.5em;
	width:1.5em;
	text-align:center;
	position:absolute;
	right:0.5em;
	background:white;
}

#slider-nav-prv:hover, #slider-nav-nxt:hover {
	color:white;
	background:black;
}

#slider-nav-dot-con {
	text-align:center;
}

.slider-nav-dot {
	list-style:none;
	border: 0.15em solid white;
	box-sizing:border-box;
	width:1em;
	height:1em;
	display:inline-block;
	border-radius:50%;
	vertical-align:middle;
}

.slider-nav-dot:hover {
	background:white;
}

.mainPage_con1 {
	height: 500px;
}

.mainPage_con1 .left_main {
	float: left;
	width: 49%;
}

.mainPage_con1 .left_main .left_main_top{
	border: 1px solid black;
	height: 200px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px gray;
}

.mainPage_con1 .left_main .left_main_bottom{
	border: 1px solid black;
	height: 200px;
	border-radius: 10px;
	margin-top: 10px;
	box-shadow: 3px 3px 3px gray;
}

.mainPage_con1 .right_main {
	float: right;
	border: 1px solid black;
	width: 49%;
	height: 410px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px gray;
}

/* ================================================ 공지사항 ================================================ */

#noticeForm {
	width: 100%;
}

.noticeForm_con {
	width: 1200px;
	margin: auto;
	text-align: center;
}

.noticeForm_con1 h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.noticeForm_con1 h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.noticeForm_con2 {
	width: 1200px;
	margin: auto;
}

.noticeForm_con2 table {
	width: 1200px;
	border-top: 2px solid black;
}

.noticeForm_con2 table thead tr th{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.noticeForm_con2 table tbody tr td {
	width: 1200px;
	border-bottom: 1px solid #ccc;
	height: 100px;
}

.noticeForm_con3 {
	margin-top: 50px;
}

.noticeForm_con3 span {
	margin: 0px 3px;
}

.noticeForm_con3 span input {
	padding: 15px 25px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
}

/* ================================================ 자주하는 질문 ================================================ */

#faqForm {
	width: 100%;
}

.faqForm_con {
	width: 1200px;
	margin: auto;
	text-align: center;
}

.faqForm_con1 h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.faqForm_con1 h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

.faqForm_con2 {
	width: 1200px;
	margin: auto;
}

.faqForm_con2 table {
	width: 1200px;
	border-top: 2px solid black;
}

.faqForm_con2 table thead tr th{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.faqForm_con2 table tbody tr td {
	width: 1200px;
	border-bottom: 1px solid #ccc;
	height: 100px;
}

.faqForm_con3 {
	margin-top: 50px;
}

.faqForm_con3 span {
	margin: 0px 3px;
}

.faqForm_con3 span input {
	padding: 15px 25px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
}


/* ================================================ 소통방 ================================================ */
#communication_form {
	width: 100%;
}

.communication_con {
	width: 1280px;
	margin: auto;
	text-align: center;
}

.communication_con1 h1 {
	font-size: 40px;
	margin-bottom: 5px;
}

.communication_con1 h2 {
	color: #757575;
	font-size: 20px;
	margin-bottom: 50px;
}

/* ================================================ game1 ================================================ */

#resultModal {
    display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#resultModal .modal_close_btn {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

#game1Form {
	width: 100%;
	height: 900px;
}

.game1Form_con {
	width: 1200px;
	margin: auto;
	text-align: center;
	height: 800px;
}

#left_image1 {
	width: 200px;
	margin-top: 30px;
}

.game1Form_left {
	margin: auto;
	width: 60%;
	height: 800px;
	border-radius: 10px;
	border: 1px solid #32CD32;
	margin-top: 20px;
}

#countdown {
  font-size: 32px;
  margin-top: 30px;
  font-weight: bold;
}

#choiceHol {
  padding: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1E90FF;
  font-size: 36px;
  border: 3px solid #1E90FF;
}

#choiceJjak {
  padding: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #DC143C;
  font-size: 36px;
  border: none;
  border: 3px solid #DC143C;
}

.bat_con {
	margin-top: 30px;
}

.pointArea {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	width: 400px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	font-size: 16px;
}

#battingText {
    border: 1px solid #000;
	background-color: #000;
	color: #fff;
	width: 400px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
}

#battingBut {
  width: 400px;
  cursor: pointer;
  border: 3px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  height: 60px;
  transition: all 0.2s;
}

/* ================================================ game2 ================================================ */

#resultModal {
    display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#resultModal .modal_close_btn {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

#game2Form {
	width: 100%;
	height: 900px;
}

.game2Form_con {
	width: 1200px;
	margin: auto;
	text-align: center;
	height: 800px;
}

#left_image2 {
	width: 200px;
	margin-top: 30px;
}

.game2Form_left {
	margin: auto;
	float: left;
	width: 60%;
	margin-top: 20px;
	height: 800px;
	border-radius: 10px;
	border: 1px solid #32CD32;
	background-color: #32CD32;
}

.game2Form_right {
	margin: auto;
	float: right;
	width: 39%;
	margin-top: 20px;
	height: 800px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

#countdown {
  font-size: 32px;
  margin-top: 30px;
  font-weight: bold;
}

#choiceHol {
  padding: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1E90FF;
  font-size: 36px;
  border: 3px solid #1E90FF;
}

#choiceJjak {
  padding: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #DC143C;
  font-size: 36px;
  border: none;
  border: 3px solid #DC143C;
}

.bat_con {
	margin-top: 30px;
}

.pointArea {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	width: 400px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	font-size: 16px;
}

#battingText {
    border: 1px solid #000;
	background-color: #000;
	color: #fff;
	width: 400px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
}

#battingBut {
  width: 400px;
  cursor: pointer;
  border: 3px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  height: 60px;
  transition: all 0.2s;
}

#messageInput {
	padding: 20px 100px 20px 20px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid black;
}
#sendMessageButton {
	padding: 20px 20px;
	border-radius: 5px;
	border: 1px solid black;
	transition: all 0.5s ease;
}
#sendMessageButton:hover {
	border-radius: 5px;
	border: 1px solid black;
	background-color: black;
	color: white;
	cursor: pointer;
}

.sendMessage {
    background-color: #DCF8C6;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    float: right;
    clear: both;
}

.receivedMessage {
    background-color: #E6E6E6;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    float: left;
    clear: both;
}

#chatArea {
    height: 700px; /* 채팅 영역의 높이를 지정합니다. */
    overflow-y: auto; /* 채팅 영역이 넘칠 경우 스크롤이 생성되도록 설정합니다. */
}

/* ================================================ footer ================================================ */

#footer_line {
	width: 100%;
	height: 50px;
	background-color: #eee;
	margin-top: 50px;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: #142336;
}

.footer_con {
	width: 1280px;
	margin: auto;
	line-height: 100px;
}

.footer_con .ul1 li {
	float: left;
	margin-right: 350px;
}

.footer_con .ul1 li a {
	color: #fff;
}

.footer_con .ul2 li {
	float: left;
	margin: 0px 30px;
}

.footer_con .ul2 li a {
	color: #fff;
}

.footer_con .ul3 li {
	float: right;
	margin: 0px 30px;
}

.footer_con .ul3 li a {
	color: #fff;
}










